# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [30]:
# Your code goes here
import pandas as pd

# Function
def clean_data(df):
  
    df.fillna({'GENDER': 'Unknown', 'Customer Lifetime Value': '0%', 'Number of Open Complaints': '0'}, inplace=True)
    

    df['GENDER'] = df['GENDER'].replace({'Femal': 'F', 'Male': 'M', 'female': 'F'})
    df['ST'] = df['ST'].replace({'Washington': 'Washington', 'Arizona': 'Arizona', 'Nevada': 'Nevada', 'California': 'California', 'Oregon': 'Oregon'})
    df['State'] = df['State'].replace({'Washington': 'Washington', 'Arizona': 'Arizona', 'Nevada': 'Nevada', 'California': 'California', 'Oregon': 'Oregon'})
    df['Education'] = df['Education'].replace({'Bachelors': 'Bachelor'})
    df['Vehicle Class'] = df['Vehicle Class'].replace({'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'})
    
    if 'Customer Lifetime Value' in df.columns:
        df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '').astype(float)
    
    if 'Number of Open Complaints' in df.columns:
        # Convert to string to avoid AttributeError
        df['Number of Open Complaints'] = df['Number of Open Complaints'].astype(str)
        df['Number of Open Complaints'] = df['Number of Open Complaints'].apply(
            lambda x: int(x.split('/')[1]) if len(x.split('/')) > 1 else 0
        )
    
    df['Income'] = df['Income'].astype(float)
    df['Monthly Premium Auto'] = df['Monthly Premium Auto'].astype(float)
    df['Total Claim Amount'] = df['Total Claim Amount'].astype(float)
    
  
    df.drop_duplicates(inplace=True)
    
    return df


df1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

combined_df = pd.concat([df1, df2, df3], ignore_index=True)

cleaned_df = clean_data(combined_df)

cleaned_df.to_csv('final_cleaned_dataset.csv', index=False)

print("Final cleaned dataset saved as 'final_cleaned_dataset.csv'")

Final cleaned dataset saved as 'final_cleaned_dataset.csv'

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [33]:
# Your code goes here

import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

print("Dataset Columns:")
print(df.columns)
print("\nFirst few rows:")
print(df.head())
print("\nData Types:")
print(df.dtypes)
print("\nMissing Values:")
print(df.isnull().sum())


def clean_new_data(df):

    df.columns = df.columns.str.strip()

    for col in df.select_dtypes(include=['float64', 'int64']).columns:
        df[col] = df[col].fillna(df[col].mean())
    
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].fillna(df[col].mode()[0])
    
    df[df.select_dtypes(include=['object']).columns] = df.select_dtypes(include=['object']).apply(lambda x: x.str.lower())
    
    if 'Age' in df.columns:
        df['Age'] = df['Age'].astype(int)
    if 'Income' in df.columns:
        df['Income'] = df['Income'].astype(int)
    
    df = df.drop_duplicates()
    
    return df

cleaned_df = clean_new_data(df)

cleaned_df.to_csv('cleaned_marketing_customer_analysis.csv', index=False)

print("Cleaned dataset saved as 'cleaned_marketing_customer_analysis.csv'")

Dataset Columns:
Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

First few rows:
   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

Data Types:
unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

Missing Values:
unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64
Cleaned dataset saved as 'cleaned_marketing_customer_analysis.csv'

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [35]:
pivot_table = df.pivot_table(values='total_claim_amount', 
                            index='sales_channel', 
                            aggfunc='sum').reset_index()


pivot_table.columns = ['Sales Channel', 'Total Revenue']
pivot_table['Total Revenue'] = pivot_table['Total Revenue'].round(2)

print("Total Revenue by Sales Channel:")
print(pivot_table)

max_revenue_channel = pivot_table.loc[pivot_table['Total Revenue'].idxmax()]

print("\nChannel with the highest total revenue:")
print(max_revenue_channel)

Total Revenue by Sales Channel:
  Sales Channel  Total Revenue
0         agent     1810226.82
1        branch     1301204.00
2   call center      926600.82
3           web      706600.04

Channel with the highest total revenue:
Sales Channel         agent
Total Revenue    1810226.82
Name: 0, dtype: object

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [37]:
pivot_table_avg_clv = df.pivot_table(values='customer_lifetime_value', 
                                     index='gender', 
                                     columns='education', 
                                     aggfunc='mean').round(2).reset_index()


pivot_table_avg_clv.columns.name = None  
pivot_table_avg_clv.rename(columns={'gender': 'Gender'}, inplace=True)


print("Average Customer Lifetime Value by Gender and Education Level:")
print(pivot_table_avg_clv)

highest_avg_clv_per_gender = pivot_table_avg_clv.loc[pivot_table_avg_clv.groupby('Gender').idxmax().values.flatten()]

print("\nHighest Average Customer Lifetime Value for Each Gender and Education Level:")
print(highest_avg_clv_per_gender)

Average Customer Lifetime Value by Gender and Education Level:
  Gender  bachelor  college   doctor  high school or below   master
0      f   7874.27  7748.82  7328.51               8675.22  8157.05
1      m   7703.60  8052.46  7415.33               8149.69  8168.83

Highest Average Customer Lifetime Value for Each Gender and Education Level:
  Gender  bachelor  college   doctor  high school or below   master
0      f   7874.27  7748.82  7328.51               8675.22  8157.05
0      f   7874.27  7748.82  7328.51               8675.22  8157.05
0      f   7874.27  7748.82  7328.51               8675.22  8157.05
0      f   7874.27  7748.82  7328.51               8675.22  8157.05
0      f   7874.27  7748.82  7328.51               8675.22  8157.05
1      m   7703.60  8052.46  7415.33               8149.69  8168.83
1      m   7703.60  8052.46  7415.33               8149.69  8168.83
1      m   7703.60  8052.46  7415.33               8149.69  8168.83
1      m   7703.60  8052.46  7415.33               8149.69  8168.83
1      m   7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [40]:
# Your code goes here